<div class="main">
    <div class="content">
        <div class="container">
            <div class="jumbotron">
                <form [formGroup]="userforms" novalidate>
                    <div class="form-group">
                        <label class="col-md-4" [class.text-left]="isMobilevar">username</label>
                        <input type="text" class="form-control mx-auto" [class.w-50]="!isMobilevar"
                            formControlName="username" #username />
                    </div>
                    <div
                        *ngIf="userforms.controls['username'].invalid && (userforms.controls['username'].dirty || userforms.controls['username'].touched)">
                        <div *ngIf="userforms.controls['username'].errors.required" class="text-danger">
                            Name is required.
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4" [class.text-left]="isMobilevar">Email</label>
                        <input type="email" class="form-control mx-auto" [class.w-50]="!isMobilevar"
                            formControlName="email" #email />
                    </div>
                    <div
                        *ngIf="userforms.controls['email'].invalid && (userforms.controls['email'].dirty || userforms.controls['email'].touched)">
                        <div *ngIf="userforms.controls['email'].errors.required" class="text-danger">
                            Email is required.
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" [disabled]="userforms.pristine || userforms.invalid"
                            class="btn btn-success" (click)="formsubmit()">Add Users</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>